
.icon-mail:before { content: '\e800'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */